a{
    text-decoration: none;
}
.background-element {
    /* Đường dẫn đến hình ảnh động */
    background-image: url("/image/back5.png");
    
    /* Kích thước của phần tử */
    width: 217px ;
    height: 239px;
  
    /* Các thuộc tính điều chỉnh hình ảnh nền */
    background-size: cover; /* Kéo dãn để đảm bảo toàn bộ phần tử được che phủ */
    background-repeat: no-repeat; /* Không lặp lại hình ảnh */
    background-position: center center; /* Vị trí căn giữa ngang và dọc */
    transition: background-image 0.3s ease-in-out;
    border-radius: 10px;
    /* Căn giữa ngang và dọc */
    display: inline-flex;
    justify-content: end; /* Căn giữa theo chiều ngang */
    align-items: end; /* Căn giữa theo chiều dọc */
    color: #fff;
    
    /* Lề trái và phải */
    padding-left: 20px;
    padding-right: 20px;

    /* Hiệu ứng hover */
    position: relative;
  }
  .background-element:hover {
    background-image: url("/image/dressingbarck_G.gif");
    display: block;
  }
  .hidden-content {
    /* Ẩn nội dung mặc định */
    display: none;

    /* Định dạng nội dung ẩn */
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(97, 94, 94, 0.5);
    color: #fff;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease-in-out;
}
  .background-element:hover .hidden-content {
    /* Hiển thị nội dung khi hover */
    display: block;
}

  @media (min-width: 1200px) and (max-width: 1500px)  {
    .background-element {
        /* Đường dẫn đến hình ảnh động */
        background-image: url("/image/back5.png");
        
        /* Kích thước của phần tử */
        width: 217px ;
        height: 239px;
      
        /* Các thuộc tính điều chỉnh hình ảnh nền */
        background-size: cover; /* Kéo dãn để đảm bảo toàn bộ phần tử được che phủ */
        background-repeat: no-repeat; /* Không lặp lại hình ảnh */
        background-position: center center; /* Vị trí căn giữa ngang và dọc */
        transition: background-image 0.3s ease-in-out;
        border-radius: 10px;
        /* Căn giữa ngang và dọc */
        display: inline-flex;
        justify-content: end; /* Căn giữa theo chiều ngang */
        align-items: end; /* Căn giữa theo chiều dọc */
        color: #fff;
        
        /* Lề trái và phải */
        padding-left: 20px;
        padding-right: 20px;
    
        /* Hiệu ứng hover */
        position: relative;
      }

.col-xl-2{
    margin: 40px;
}
  }
  @media (min-width: 1500px) and (max-width: 1650px)  {
    .background-element {
        /* Đường dẫn đến hình ảnh động */
        background-image: url("/image/back5.png");
        
        /* Kích thước của phần tử */
        width: 217px ;
        height: 239px;
      
        /* Các thuộc tính điều chỉnh hình ảnh nền */
        background-size: cover; /* Kéo dãn để đảm bảo toàn bộ phần tử được che phủ */
        background-repeat: no-repeat; /* Không lặp lại hình ảnh */
        background-position: center center; /* Vị trí căn giữa ngang và dọc */
        transition: background-image 0.3s ease-in-out;
        border-radius: 10px;
        /* Căn giữa ngang và dọc */
        display: inline-flex;
        justify-content: end; /* Căn giữa theo chiều ngang */
        align-items: end; /* Căn giữa theo chiều dọc */
        color: #fff;
        
        /* Lề trái và phải */
        padding-left: 20px;
        padding-right: 20px;
    
        /* Hiệu ứng hover */
        position: relative;
      }

.col-xl-2{
    margin: 40px;
}
  }