/* footer */

.footer{
    margin-bottom: 0px;
    bottom: 0 !important;
    padding: 2% 10%;
    background-color:   #424b54;
    
}
#color-footer{
    color: #fff ;
}
.footer-item {
    padding-left: 12%;
}
.footer-content {
    text-align: left;
    padding-top: 10%;
    padding-right: 20%;
}
.footer-item>a{
    color: #fff;
    
}
.footer-bottom{
    text-align: center;
    padding-top: 2%;
    border-top: 1px solid #cf9e9e;
}
